// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article ads"
    "nav footer footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  }

header {
  padding: 1.2em;
  background: #123f6e; 
  margin-bottom: -10px;
}

nav {
  padding: 1.2em;
  background: #f2f2f2;
}

article {
  padding: 1.2em;
}

footer {
  padding: 1.2em;
  background: #f2f2f2;
  }
#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  }
#siteAds { 
  grid-area: ads;
  background: #f2f2f2;
  } 

.order-item {
  width: 100%;
  border: 1px solid #dddddd;
  margin-bottom: 15px
}

.brand-name {
  color: white;
  font-size: 30px;
}

.order-item th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.order-item td {
  padding: 8px;
}

.order-item td:last-child {
  text-align: right;
}

.order-item a {
  text-decoration: none;
  color: #265a7c
}

.order-item a:hover {
  text-decoration: underline;
}

.order-title {
  width: 100%;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
}

.order-title h3 {
  margin-bottom: 10px;
}

span.Approved {
  color: orange;
}

span.Pending {
  color: red;
}

.onclick-menu {
    position: relative;
    display: inline-block;
    color: #265a7c;
    cursor: pointer;
}

.onclick-menu:before {
    content: "Change Status";
}

.onclick-menu:focus .onclick-menu-content {
    display: block;
}

.onclick-menu:focus {
  outline: none
}

.onclick-menu-content {
    position: absolute;
    z-index: 1;
    display: none;
    list-style: none;
    background:#b3b3b3;
    color: white;
    text-align: left;
    width: 90px;
    top: 5px;
}

.onclick-menu-content li {
  margin-left: -30px;
  padding: 5px;
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}