<!DOCTYPE html>
<html>
  <head>
    <title>RealhubApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header id="pageHeader">
  		<div class="brand-name">
  			realhub
  		</div>
  	</header>
	  <article id="mainArticle">
	  	<%= yield %>
	  </article>
	  <nav id="mainNav"></nav>
	  <div id="siteAds"></div>
	  <footer id="pageFooter"></footer>
    
  </body>
</html>
